In [88]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import sem

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
crime_data_to_load = "data/Boston Crime Data.csv"
zip_data_to_load = "data/Boston_ZipCodes.csv"
dist_data_to_load = "data/districts.csv"
census_data_to_load = "data/Census Race Stats.csv"

# Read Data 
crime_data = pd.read_csv(crime_data_to_load)
# Prevent truncation of zero in Zipcode 
zip_data = pd.io.parsers.read_csv(zip_data_to_load, dtype={'Zip Code ': 'str'}).set_index('Zip Code ')
dist_data = pd.read_csv(dist_data_to_load)
cen_data = pd.io.parsers.read_csv(census_data_to_load, dtype={'Zip Code': 'str'})




# Combine the data into a single dataset
# data_combine = pd.merge(mouse_data,clinical_data, how='left', on=["Mouse ID", "Mouse ID"])
# Display the data table for preview
cen_data.head(2)

,Unnamed: 0,Zip Code,District,White Pop,Afr Am Pop,Asian Pop,Native Am Pacific Pop,Other Pop,Multi Race Pop
0,0,02108,Boston,3563.0,223.0,204.0,0.0,0.0,165.0
1,1,02109,Boston,3419.0,157.0,343.0,0.0,0.0,68.0

Index(['Zip Code ', 'District'], dtype='object')

#                                    Transformation - Crime Data

In [8]:
crime_data.columns

Index(['INCIDENT_NUMBER', 'OFFENSE_CODE', 'OFFENSE_CODE_GROUP',
       'OFFENSE_DESCRIPTION', 'DISTRICT', 'REPORTING_AREA', 'SHOOTING',
       'OCCURRED_ON_DATE', 'YEAR', 'MONTH', 'DAY_OF_WEEK', 'HOUR', 'UCR_PART',
       'STREET', 'Lat', 'Long', 'Location'],
      dtype='object')

In [16]:
# kept occurred_on_date because the stripped out date didnt contain "day", easier to parse out the date later into the units needed 
Crime_data_trunc = crime_data[['OFFENSE_CODE','OFFENSE_CODE_GROUP',
       'OFFENSE_DESCRIPTION', 'DISTRICT', 'REPORTING_AREA', 'SHOOTING',
        'OCCURRED_ON_DATE']]

In [17]:
Crime_data_trunc.set_index('DISTRICT')

,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE
DISTRICT,,,,,,
D14,619,Larceny,LARCENY ALL OTHERS,808,NaN,9/2/2018 13:00
C11,1402,Vandalism,VANDALISM,347,NaN,8/21/2018 0:00
D4,3410,Towed,TOWED MOTOR VEHICLE,151,NaN,9/3/2018 19:27
D4,3114,Investigate Property,INVESTIGATE PROPERTY,272,NaN,9/3/2018 21:16
B3,3114,Investigate Property,INVESTIGATE PROPERTY,421,NaN,9/3/2018 21:05
C11,3820,Motor Vehicle Accident Response,M/V ACCIDENT INVOLVING PEDESTRIAN - INJURY,398,NaN,9/3/2018 21:09
B2,724,Auto Theft,AUTO THEFT,330,NaN,9/3/2018 21:25
B2,3301,Verbal Disputes,VERBAL DISPUTE,584,NaN,9/3/2018 20:39
C6,301,Robbery,ROBBERY - STREET,177,NaN,9/3/2018 20:48
C11,3301,Verbal Disputes,VERBAL DISPUTE,364,NaN,9/3/2018 20:38
C6,3301,Verbal Disputes,VERBAL DISPUTE,913,NaN,9/3/2018 19:55
C6,3114,Investigate Property,INVESTIGATE PROPERTY,936,NaN,9/3/2018 20:19
D4,3108,Fire Related Reports,"FIRE REPORT - HOUSE, BUILDING, ETC.",139,NaN,9/3/2018 19:58
B3,2647,Other,THREATS TO DO BODILY HARM,429,NaN,9/3/2018 20:39
B3,3201,Property Lost,PROPERTY - LOST,469,NaN,9/2/2018 14:00
NaN,3006,Medical Assistance,SICK/INJURED/MEDICAL - PERSON,,NaN,9/3/2018 19:43
C11,3301,Verbal Disputes,VERBAL DISPUTE,341,NaN,9/3/2018 18:52
D4,3305,Assembly or Gathering Violations,DEMONSTRATIONS/RIOT,130,NaN,9/3/2018 17:00
B2,2647,Other,THREATS TO DO BODILY HARM,901,NaN,9/3/2018 19:52
B2,614,Larceny From Motor Vehicle,LARCENY THEFT FROM MV - NON-ACCESSORY,181,NaN,9/2/2018 18:00
NaN,3006,Medical Assistance,SICK/INJURED/MEDICAL - PERSON,,NaN,9/3/2018 18:46
A1,3801,Motor Vehicle Accident Response,M/V ACCIDENT - OTHER,69,NaN,9/3/2018 18:30
B3,3006,Medical Assistance,SICK/INJURED/MEDICAL - PERSON,434,NaN,9/3/2018 18:42
E5,3803,Motor Vehicle Accident Response,M/V ACCIDENT - PERSONAL INJURY,550,NaN,9/3/2018 18:33
B2,522,Residential Burglary,BURGLARY - RESIDENTIAL - NO FORCE,911,NaN,9/3/2018 18:38
NaN,3831,Motor Vehicle Accident Response,M/V - LEAVING SCENE - PROPERTY DAMAGE,,NaN,9/3/2018 18:20
D4,3006,Medical Assistance,SICK/INJURED/MEDICAL - PERSON,172,NaN,9/3/2018 18:50
C11,802,Simple Assault,ASSAULT SIMPLE - BATTERY,242,NaN,9/3/2018 18:34
C11,2007,Restraining Order Violations,VIOL. OF RESTRAINING ORDER W NO ARREST,242,NaN,9/3/2018 18:34
B3,2900,Other,VAL - VIOLATION OF AUTO LAW - OTHER,463,NaN,9/3/2018 18:55
...,...,...,...,...,...,...
D4,3125,Warrant Arrests,WARRANT ARREST,171,NaN,7/22/2015 22:00
D4,623,Larceny,LARCENY SHOPLIFTING $50 TO $199,171,NaN,7/22/2015 22:00
A1,403,Aggravated Assault,ASSAULT & BATTERY D/W - OTHER,97,NaN,6/14/2016 9:40
A1,3125,Warrant Arrests,WARRANT ARREST,97,NaN,6/14/2016 9:40
B2,3125,Warrant Arrests,WARRANT ARREST,324,NaN,7/29/2016 0:00
B2,619,Larceny,LARCENY OTHER $200 & OVER,324,NaN,7/29/2016 0:00
B2,3125,Warrant Arrests,WARRANT ARREST,318,NaN,10/2/2015 21:00
B2,802,Simple Assault,ASSAULT & BATTERY,318,NaN,10/2/2015 21:00
B2,3125,Warrant Arrests,WARRANT ARREST,318,NaN,10/2/2015 21:00
D4,629,Larceny,LARCENY OTHER $50 TO $199,285,NaN,6/5/2016 17:23
D4,3125,Warrant Arrests,WARRANT ARREST,285,NaN,6/5/2016 17:23
A1,3125,Warrant Arrests,WARRANT ARREST,77,NaN,7/27/2015 10:47
A1,339,Robbery,ROBBERY - UNARMED - STREET,77,NaN,7/27/2015 10:47
E13,3125,Warrant Arrests,WARRANT ARREST,572,NaN,8/3/2015 16:22
B2,2907,Violations,VAL - OPERATING AFTER REV/SUSP.,304,NaN,7/29/2016 18:20
B2,2910,Violations,VAL - OPERATING AFTER REV/SUSP.,304,NaN,7/29/2016 18:20
C11,3125,Warrant Arrests,WARRANT ARREST,355,NaN,2/1/2016 1:43
C11,3125,Warrant Arrests,WARRANT ARREST,355,NaN,2/1/2016 1:43
B3,403,Aggravated Assault,ASSAULT & BATTERY D/W - OTHER,458,NaN,11/20/2015 11:15
B3,3125,Warrant Arrests,WARRANT ARREST,458,NaN,11/20/2015 11:15
A1,3125,Warrant Arrests,WARRANT ARREST,111,NaN,8/12/2015 12:00
A1,1848,Drug Violation,DRUGS - POSS CLASS B - INTENT TO MFR DIST DISP,111,NaN,8/12/2015 12:00
A1,1849,Drug Violation,"DRUGS - POSS CLASS B - COCAINE, ETC.",111,NaN,8/12/2015 12:00
E13,1864,Drug Violation,DRUGS - POSS CLASS D - INTENT MFR DIST DISP,912,NaN,1/27/2018 14:01
E13,3125,Warrant Arrests,WARRANT ARREST,912,NaN,1/27/2018 14:01
D4,3125,Warrant Arrests,WARRANT ARREST,285,NaN,6/5/2016 17:25
E18,111,Homicide,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",520,NaN,7/9/2015 13:38
E18,3125,Warrant Arrests,WARRANT ARREST,520,NaN,7/9/2015 13:38
E13,3125,Warrant Arrests,WARRANT ARREST,569,NaN,5/31/2016 19:35
D4,3125,Warrant Arrests,WARRANT ARREST,903,NaN,6/22/2015 0:12

In [1]:
# data_combine = pd.merge(Crime_data_trunc,clinical_data, how='left', on=["District", "District"])

#                               Transformation - District

In [33]:
dist_data_clean[District_Address] =(dist_data_clean['District Names'].str.split(',').str[0]

,Unnamed: 0,District Codes,District Names
0,0,District A-7,"69 Paris Street, East Boston, MA 02128"
1,1,District B-2,"2400 Washington Street, Roxbury, MA 02119"
2,2,District B-3,"1165 Blue Hill Avenue, Mattapan, MA 02124"
3,3,District C-6,"101 West Broadway, South Boston, MA 02127"
4,4,District C-11,"40 Gibson Street, Dorchester, MA 02122"
5,5,District D-4,"650 Harrison Avenue, Boston, MA 02116"
6,6,District D-14,"301 Washington Street, Brighton, MA 02135"
7,7,District E-5,"1708 Centre Street, West Roxbury, MA 02132"
8,8,District E-13,"3347 Washington Street, Jamaica Plain, MA 02130"
9,9,District E-18,"1249 Hyde Park Avenue, Hyde Park, MA 02136"
10,10,District A-1,"40 New Sudbury Street Boston, MA 02114"
11,11,District A-15,"40 New Sudbury Street Boston, MA 02114"

In [74]:
dist_data_clean = pd.DataFrame()
dist_data_clean['District_Address'] =(dist_data['District Names'].str.split(',').str[0])
dist_data_clean['District'] =(dist_data['District Names'].str.split(',').str[1])   
# Clean up Dual Precinct for Boston/Charlestown
# dist_data_clean.replace('40 New Sudbury Street Boston', '40 New Sudbury Street')
dist_data_clean.at[10, 'District_Address'] = '40 New Sudbury Street'
dist_data_clean.at[11, 'District_Address'] = '40 New Sudbury Street'
dist_data_clean.at[10, 'District'] = 'Charlestown'
dist_data_clean.at[11, 'District'] = 'Boston'
dist_data_clean

          District_Address        District
0          69 Paris Street     East Boston
1   2400 Washington Street         Roxbury
2    1165 Blue Hill Avenue        Mattapan
3        101 West Broadway    South Boston
4         40 Gibson Street      Dorchester
5      650 Harrison Avenue          Boston
6    301 Washington Street        Brighton
7       1708 Centre Street    West Roxbury
8   3347 Washington Street   Jamaica Plain
9    1249 Hyde Park Avenue       Hyde Park
10   40 New Sudbury Street     Charlestown
11   40 New Sudbury Street          Boston

#                               Transformation - Census Data

In [95]:
cen_data.dropna(inplace=True)
cen_data

,Unnamed: 0,Zip Code,District,White Pop,Afr Am Pop,Asian Pop,Native Am Pacific Pop,Other Pop,Multi Race Pop
0,0,02108,Boston,3563.0,223.0,204.0,0.0,0.0,165.0
1,1,02109,Boston,3419.0,157.0,343.0,0.0,0.0,68.0
2,2,02110,Boston,1896.0,92.0,260.0,0.0,0.0,22.0
3,3,02111,Boston,3250.0,156.0,3673.0,0.0,0.0,301.0
5,5,02113,Boston,7022.0,52.0,161.0,0.0,0.0,112.0
6,6,02114,Boston,10504.0,613.0,1403.0,0.0,0.0,264.0
7,7,02115,Boston,19506.0,2421.0,4531.0,32.0,32.0,948.0
8,8,02116,Boston,17684.0,1297.0,3310.0,0.0,0.0,605.0
10,10,02118,Roxbury,14830.0,4467.0,4363.0,0.0,0.0,1267.0
11,11,02119,Roxbury,4257.0,16232.0,866.0,7.0,7.0,1542.0
12,12,02120,Roxbury,6990.0,3989.0,2793.0,0.0,0.0,321.0
13,13,02121,Dorchester,2034.0,19583.0,162.0,0.0,0.0,1953.0
14,14,02122,Dorchester,9059.0,7691.0,4597.0,0.0,0.0,722.0
16,16,02124,Dorchester,12634.0,35157.0,3303.0,0.0,0.0,1806.0
17,17,02125,Dorchester,11737.0,11460.0,4095.0,0.0,0.0,2033.0
18,18,02126,Mattapan,2164.0,25041.0,256.0,0.0,0.0,712.0
19,19,02127,South Boston,30617.0,2649.0,1703.0,0.0,0.0,641.0
20,20,02128,East Boston,29501.0,1468.0,1796.0,24.0,24.0,11563.0
21,21,02129,Charlestown,14654.0,1659.0,1354.0,0.0,0.0,570.0
22,22,02130,Jamaica Plain,25509.0,4993.0,2699.0,0.0,0.0,1701.0
23,23,02131,Roslindale,19652.0,8293.0,723.0,0.0,0.0,872.0
24,24,02132,West Roxbury,23691.0,1661.0,1902.0,0.0,0.0,508.0
26,26,02134,Allston,10604.0,1212.0,4261.0,0.0,0.0,453.0
27,27,02135,Brighton,30614.0,2285.0,6433.0,100.0,100.0,1073.0
28,28,02136,Hyde Park,12291.0,14751.0,705.0,0.0,0.0,1289.0

In [ ]:
# # print(type(dataFF))
# data_frames = [dataFF,dataBB ]

# #merge as needed
# Final_Data2 = reduce(lambda  left,right: pd.merge(left,right,on=['Date', 'Tableau Geo', 'Tableau LOB','TM1 Geography','Account', 'Scenario' ],
#                                             how='outer'), data_frames).fillna(0)