In [185]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import sem

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
crime_data_to_load = "data/Boston Crime Data.csv"
zip_data_to_load = "data/Boston_ZipCodes.csv"
dist_data_to_load = "data/districts.csv"
census_data_to_load = "data/Census Race Stats.csv"

# Read Data 
crime_data = pd.read_csv(crime_data_to_load)
# Prevent truncation of zero in Zipcode 
zip_data = pd.io.parsers.read_csv(zip_data_to_load, dtype={'Zip Code ': 'str'}).set_index('Zip Code ')
dist_data = pd.read_csv(dist_data_to_load)
cen_data = pd.io.parsers.read_csv(census_data_to_load, dtype={'Zip Code': 'str'})




# Combine the data into a single dataset
# data_combine = pd.merge(mouse_data,clinical_data, how='left', on=["Mouse ID", "Mouse ID"])
# Display the data table for preview
cen_data.head(2)

,Unnamed: 0,Zip Code,District,White Pop,Afr Am Pop,Asian Pop,Native Am Pacific Pop,Other Pop,Multi Race Pop
0,0,02108,Boston,3563.0,223.0,204.0,0.0,0.0,165.0
1,1,02109,Boston,3419.0,157.0,343.0,0.0,0.0,68.0

#                                    Transformation - Crime Data

In [186]:
crime_data.columns

Index(['INCIDENT_NUMBER', 'OFFENSE_CODE', 'OFFENSE_CODE_GROUP',
       'OFFENSE_DESCRIPTION', 'DISTRICT', 'REPORTING_AREA', 'SHOOTING',
       'OCCURRED_ON_DATE', 'YEAR', 'MONTH', 'DAY_OF_WEEK', 'HOUR', 'UCR_PART',
       'STREET', 'Lat', 'Long', 'Location'],
      dtype='object')

In [187]:
# kept occurred_on_date because the stripped out date didnt contain "day", easier to parse out the date later into the units needed 
Crime_data_trunc = crime_data[['OFFENSE_CODE','OFFENSE_CODE_GROUP',
        'DISTRICT', 'REPORTING_AREA', 'SHOOTING',
        'OCCURRED_ON_DATE']]

In [188]:
Crime_data_trunc.set_index('DISTRICT')

,OFFENSE_CODE,OFFENSE_CODE_GROUP,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE
DISTRICT,,,,,
D14,619,Larceny,808,NaN,9/2/2018 13:00
C11,1402,Vandalism,347,NaN,8/21/2018 0:00
D4,3410,Towed,151,NaN,9/3/2018 19:27
D4,3114,Investigate Property,272,NaN,9/3/2018 21:16
B3,3114,Investigate Property,421,NaN,9/3/2018 21:05
C11,3820,Motor Vehicle Accident Response,398,NaN,9/3/2018 21:09
B2,724,Auto Theft,330,NaN,9/3/2018 21:25
B2,3301,Verbal Disputes,584,NaN,9/3/2018 20:39
C6,301,Robbery,177,NaN,9/3/2018 20:48
C11,3301,Verbal Disputes,364,NaN,9/3/2018 20:38
C6,3301,Verbal Disputes,913,NaN,9/3/2018 19:55
C6,3114,Investigate Property,936,NaN,9/3/2018 20:19
D4,3108,Fire Related Reports,139,NaN,9/3/2018 19:58
B3,2647,Other,429,NaN,9/3/2018 20:39
B3,3201,Property Lost,469,NaN,9/2/2018 14:00
NaN,3006,Medical Assistance,,NaN,9/3/2018 19:43
C11,3301,Verbal Disputes,341,NaN,9/3/2018 18:52
D4,3305,Assembly or Gathering Violations,130,NaN,9/3/2018 17:00
B2,2647,Other,901,NaN,9/3/2018 19:52
B2,614,Larceny From Motor Vehicle,181,NaN,9/2/2018 18:00
NaN,3006,Medical Assistance,,NaN,9/3/2018 18:46
A1,3801,Motor Vehicle Accident Response,69,NaN,9/3/2018 18:30
B3,3006,Medical Assistance,434,NaN,9/3/2018 18:42
E5,3803,Motor Vehicle Accident Response,550,NaN,9/3/2018 18:33
B2,522,Residential Burglary,911,NaN,9/3/2018 18:38
NaN,3831,Motor Vehicle Accident Response,,NaN,9/3/2018 18:20
D4,3006,Medical Assistance,172,NaN,9/3/2018 18:50
C11,802,Simple Assault,242,NaN,9/3/2018 18:34
C11,2007,Restraining Order Violations,242,NaN,9/3/2018 18:34
B3,2900,Other,463,NaN,9/3/2018 18:55
...,...,...,...,...,...
D4,3125,Warrant Arrests,171,NaN,7/22/2015 22:00
D4,623,Larceny,171,NaN,7/22/2015 22:00
A1,403,Aggravated Assault,97,NaN,6/14/2016 9:40
A1,3125,Warrant Arrests,97,NaN,6/14/2016 9:40
B2,3125,Warrant Arrests,324,NaN,7/29/2016 0:00
B2,619,Larceny,324,NaN,7/29/2016 0:00
B2,3125,Warrant Arrests,318,NaN,10/2/2015 21:00
B2,802,Simple Assault,318,NaN,10/2/2015 21:00
B2,3125,Warrant Arrests,318,NaN,10/2/2015 21:00
D4,629,Larceny,285,NaN,6/5/2016 17:23
D4,3125,Warrant Arrests,285,NaN,6/5/2016 17:23
A1,3125,Warrant Arrests,77,NaN,7/27/2015 10:47
A1,339,Robbery,77,NaN,7/27/2015 10:47
E13,3125,Warrant Arrests,572,NaN,8/3/2015 16:22
B2,2907,Violations,304,NaN,7/29/2016 18:20
B2,2910,Violations,304,NaN,7/29/2016 18:20
C11,3125,Warrant Arrests,355,NaN,2/1/2016 1:43
C11,3125,Warrant Arrests,355,NaN,2/1/2016 1:43
B3,403,Aggravated Assault,458,NaN,11/20/2015 11:15
B3,3125,Warrant Arrests,458,NaN,11/20/2015 11:15
A1,3125,Warrant Arrests,111,NaN,8/12/2015 12:00
A1,1848,Drug Violation,111,NaN,8/12/2015 12:00
A1,1849,Drug Violation,111,NaN,8/12/2015 12:00
E13,1864,Drug Violation,912,NaN,1/27/2018 14:01
E13,3125,Warrant Arrests,912,NaN,1/27/2018 14:01
D4,3125,Warrant Arrests,285,NaN,6/5/2016 17:25
E18,111,Homicide,520,NaN,7/9/2015 13:38
E18,3125,Warrant Arrests,520,NaN,7/9/2015 13:38
E13,3125,Warrant Arrests,569,NaN,5/31/2016 19:35
D4,3125,Warrant Arrests,903,NaN,6/22/2015 0:12

In [1]:
# data_combine = pd.merge(Crime_data_trunc,clinical_data, how='left', on=["District", "District"])

#                               Transformation - District

In [189]:
dist_data

,Unnamed: 0,District Codes,District Names
0,0,District A-7,"69 Paris Street, East Boston, MA 02128"
1,1,District B-2,"2400 Washington Street, Roxbury, MA 02119"
2,2,District B-3,"1165 Blue Hill Avenue, Mattapan, MA 02124"
3,3,District C-6,"101 West Broadway, South Boston, MA 02127"
4,4,District C-11,"40 Gibson Street, Dorchester, MA 02122"
5,5,District D-4,"650 Harrison Avenue, Boston, MA 02116"
6,6,District D-14,"301 Washington Street, Brighton, MA 02135"
7,7,District E-5,"1708 Centre Street, West Roxbury, MA 02132"
8,8,District E-13,"3347 Washington Street, Jamaica Plain, MA 02130"
9,9,District E-18,"1249 Hyde Park Avenue, Hyde Park, MA 02136"
10,10,District A-1,"40 New Sudbury Street Boston, MA 02114"
11,11,District A-15,"40 New Sudbury Street Boston, MA 02114"

In [190]:
dist_data_clean = pd.DataFrame()
dist_data_clean['District_Codes'] =(dist_data['District Codes'].str.split(' ').str[1])
dist_data_clean['District_Codes2']=dist_data_clean['District_Codes'].str.split('-').str[0]+dist_data_clean['District_Codes'].str.split('-').str[1]
dist_data_clean['District_Address'] =(dist_data['District Names'].str.split(',').str[0])
dist_data_clean['District'] =(dist_data['District Names'].str.split(',').str[1])   
# Clean up Dual Precinct for Boston/Charlestown
# dist_data_clean.replace('40 New Sudbury Street Boston', '40 New Sudbury Street')
dist_data_clean.at[10, 'District_Address'] = '40 New Sudbury Street'
dist_data_clean.at[11, 'District_Address'] = '40 New Sudbury Street'
dist_data_clean.at[10, 'District'] = 'Charlestown'
dist_data_clean.at[11, 'District'] = 'Boston'
dist_data_clean.at[11, 'District_Codes'] = 'A15'
dist_data_clean.at[11, 'District_Codes2'] = 'A15'
dist_data_clean.drop(['District_Codes'], axis=1,inplace=True)
dist_data_clean.rename(columns={'District_Codes2':'District_Codes'},inplace=True)
dist_data_clean

   District_Codes        District_Address        District
0              A7         69 Paris Street     East Boston
1              B2  2400 Washington Street         Roxbury
2              B3   1165 Blue Hill Avenue        Mattapan
3              C6       101 West Broadway    South Boston
4             C11        40 Gibson Street      Dorchester
5              D4     650 Harrison Avenue          Boston
6             D14   301 Washington Street        Brighton
7              E5      1708 Centre Street    West Roxbury
8             E13  3347 Washington Street   Jamaica Plain
9             E18   1249 Hyde Park Avenue       Hyde Park
10             A1   40 New Sudbury Street     Charlestown
11            A15   40 New Sudbury Street          Boston

#                               Transformation - Census Data

In [191]:
cen_data.dropna(inplace=True)
cen_data.drop(['Unnamed: 0', 'Zip Code'], axis=1, inplace=True)
cen_data.head(5)

,District,White Pop,Afr Am Pop,Asian Pop,Native Am Pacific Pop,Other Pop,Multi Race Pop
0,Boston,3563.0,223.0,204.0,0.0,0.0,165.0
1,Boston,3419.0,157.0,343.0,0.0,0.0,68.0
2,Boston,1896.0,92.0,260.0,0.0,0.0,22.0
3,Boston,3250.0,156.0,3673.0,0.0,0.0,301.0
5,Boston,7022.0,52.0,161.0,0.0,0.0,112.0

In [ ]:
# # print(type(dataFF))
# data_frames = [dataFF,dataBB ]

# #merge as needed
# Final_Data2 = reduce(lambda  left,right: pd.merge(left,right,on=['Date', 'Tableau Geo', 'Tableau LOB','TM1 Geography','Account', 'Scenario' ],
#                                             how='outer'), data_frames).fillna(0)

,index,District,White Pop,Afr Am Pop,Asian Pop,Native Am Pacific Pop,Other Pop,Multi Race Pop
0,0,Boston,3563.0,223.0,204.0,0.0,0.0,165.0
1,1,Boston,3419.0,157.0,343.0,0.0,0.0,68.0
2,2,Boston,1896.0,92.0,260.0,0.0,0.0,22.0
3,3,Boston,3250.0,156.0,3673.0,0.0,0.0,301.0
4,5,Boston,7022.0,52.0,161.0,0.0,0.0,112.0
5,6,Boston,10504.0,613.0,1403.0,0.0,0.0,264.0
6,7,Boston,19506.0,2421.0,4531.0,32.0,32.0,948.0
7,8,Boston,17684.0,1297.0,3310.0,0.0,0.0,605.0
8,10,Roxbury,14830.0,4467.0,4363.0,0.0,0.0,1267.0
9,11,Roxbury,4257.0,16232.0,866.0,7.0,7.0,1542.0
10,12,Roxbury,6990.0,3989.0,2793.0,0.0,0.0,321.0
11,13,Dorchester,2034.0,19583.0,162.0,0.0,0.0,1953.0
12,14,Dorchester,9059.0,7691.0,4597.0,0.0,0.0,722.0
13,16,Dorchester,12634.0,35157.0,3303.0,0.0,0.0,1806.0
14,17,Dorchester,11737.0,11460.0,4095.0,0.0,0.0,2033.0
15,18,Mattapan,2164.0,25041.0,256.0,0.0,0.0,712.0
16,19,South Boston,30617.0,2649.0,1703.0,0.0,0.0,641.0
17,20,East Boston,29501.0,1468.0,1796.0,24.0,24.0,11563.0
18,21,Charlestown,14654.0,1659.0,1354.0,0.0,0.0,570.0
19,22,Jamaica Plain,25509.0,4993.0,2699.0,0.0,0.0,1701.0
20,23,Roslindale,19652.0,8293.0,723.0,0.0,0.0,872.0
21,24,West Roxbury,23691.0,1661.0,1902.0,0.0,0.0,508.0
22,26,Allston,10604.0,1212.0,4261.0,0.0,0.0,453.0
23,27,Brighton,30614.0,2285.0,6433.0,100.0,100.0,1073.0
24,28,Hyde Park,12291.0,14751.0,705.0,0.0,0.0,1289.0

# Create CSV for Database creation

In [150]:
zip_data.to_csv('Database_Files/ZipCode_data.csv')
dist_data_clean.to_csv('Database_Files/Police_Districts.csv')
cen_data.to_csv('Database_Files/Census.csv')
crime_data.to_csv('Database_Files/Boston_Crime.csv')

In [152]:
crime_data

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,9/2/2018 13:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)"
1,I182070943,1402,Vandalism,VANDALISM,C11,347,NaN,8/21/2018 0:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.306821,-71.060300,"(42.30682138, -71.06030035)"
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,9/3/2018 19:27,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,9/3/2018 21:16,2018,9,Monday,21,Part Three,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,9/3/2018 21:05,2018,9,Monday,21,Part Three,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)"
5,I182070936,3820,Motor Vehicle Accident Response,M/V ACCIDENT INVOLVING PEDESTRIAN - INJURY,C11,398,NaN,9/3/2018 21:09,2018,9,Monday,21,Part Three,TALBOT AVE,42.290196,-71.071590,"(42.29019621, -71.07159012)"
6,I182070933,724,Auto Theft,AUTO THEFT,B2,330,NaN,9/3/2018 21:25,2018,9,Monday,21,Part One,NORMANDY ST,42.306072,-71.082733,"(42.30607218, -71.08273260)"
7,I182070932,3301,Verbal Disputes,VERBAL DISPUTE,B2,584,NaN,9/3/2018 20:39,2018,9,Monday,20,Part Three,LAWN ST,42.327016,-71.105551,"(42.32701648, -71.10555088)"
8,I182070931,301,Robbery,ROBBERY - STREET,C6,177,NaN,9/3/2018 20:48,2018,9,Monday,20,Part One,MASSACHUSETTS AVE,42.331521,-71.070853,"(42.33152148, -71.07085307)"
9,I182070929,3301,Verbal Disputes,VERBAL DISPUTE,C11,364,NaN,9/3/2018 20:38,2018,9,Monday,20,Part Three,LESLIE ST,42.295147,-71.058608,"(42.29514664, -71.05860832)"
10,I182070928,3301,Verbal Disputes,VERBAL DISPUTE,C6,913,NaN,9/3/2018 19:55,2018,9,Monday,19,Part Three,OCEAN VIEW DR,42.319579,-71.040328,"(42.31957856, -71.04032766)"
11,I182070927,3114,Investigate Property,INVESTIGATE PROPERTY,C6,936,NaN,9/3/2018 20:19,2018,9,Monday,20,Part Three,DALESSIO CT,42.340115,-71.053390,"(42.34011469, -71.05339029)"
12,I182070923,3108,Fire Related Reports,"FIRE REPORT - HOUSE, BUILDING, ETC.",D4,139,NaN,9/3/2018 19:58,2018,9,Monday,19,Part Three,MARLBOROUGH ST,42.350388,-71.087853,"(42.35038760, -71.08785290)"
13,I182070922,2647,Other,THREATS TO DO BODILY HARM,B3,429,NaN,9/3/2018 20:39,2018,9,Monday,20,Part Two,WOODROW AVE,42.286470,-71.087147,"(42.28647012, -71.08714661)"
14,I182070921,3201,Property Lost,PROPERTY - LOST,B3,469,NaN,9/2/2018 14:00,2018,9,Sunday,14,Part Three,MULVEY ST,42.279241,-71.096674,"(42.27924052, -71.09667382)"
15,I182070920,3006,Medical Assistance,SICK/INJURED/MEDICAL - PERSON,NaN,,NaN,9/3/2018 19:43,2018,9,Monday,19,Part Three,NaN,42.352875,-71.073830,"(42.35287456, -71.07382970)"
16,I182070919,3301,Verbal Disputes,VERBAL DISPUTE,C11,341,NaN,9/3/2018 18:52,2018,9,Monday,18,Part Three,STONEHURST ST,42.305264,-71.066838,"(42.30526428, -71.06683755)"
17,I182070918,3305,Assembly or Gathering Violations,DEMONSTRATIONS/RIOT,D4,130,NaN,9/3/2018 17:00,2018,9,Monday,17,Part Three,HUNTINGTON AVE,42.348577,-71.077720,"(42.34857652, -71.07772012)"
18,I182070917,2647,Other,THREATS TO DO BODILY HARM,B2,901,NaN,9/3/2018 19:52,2018,9,Monday,19,Part Two,HORADAN WAY,42.333717,-71.096658,"(42.33371742, -71.09665806)"
19,I182070915,614,Larceny From Motor Vehicle,LARCENY THEFT FROM MV - NON-ACCESSORY,B2,181,NaN,9/2/2018 18:00,2018,9,Sunday,18,Part One,SHIRLEY ST,42.325695,-71.068168,"(42.32569490, -71.06816778)"
20,I182070913,3006,Medical Assistance,SICK/INJURED/MEDICAL - PERSON,NaN,,NaN,9/3/2018 18:46,2018,9,Monday,18,Part Three,WOLCOTT,-1.000000,-1.000000,"(-1.00000000, -1.00000000)"
21,I182070911,3801,Motor Vehicle Accident Response,M/V ACCIDENT - OTHER,A1,69,NaN,9/3/2018 18:30,2018,9,Monday,18,Part Three,BEACON ST,42.355644,-71.071681,"(42.35564426, -71.07168077)"
22,I182070910,3006,Medical Assistance,SICK/INJURED/MEDICAL - PERSON,B3,434,NaN,9/3/2018 18:42,2018,9,Monday,18,Part Three,CAPEN ST,42.283402,-71.080797,"(42.28340243, -71.08079740)"
23,I182070909,3803,Motor Vehicle Accident Response,M/V ACCIDENT - PERSONAL INJURY,E5,550,NaN,9/3/2018 18:33,2018,9,Monday,18,Part Three,WASHINGTON ST,42.275818,-71.139913,"(42.27581799, -71.13991259)"
24,I182070908,522,Residential Burglary,BURGLARY - RESIDENTIAL - NO FORCE,B2,911,NaN,9/3/2018 18:38,2018,9,Monday,18,Part One,ANNUNCIATION RD,42.335062,-71.093168,"(42.33506218, -71.09316781)"
25,I182070906,3831,Motor Vehicle Accident Response,M/V - LEAVING SCENE - PROPERTY DAMAGE,NaN,,NaN,9/3/2018 18:20,2018,9,Monday,18,Part Three,NaN,42.283593,-71.055657,"(42.28359328, -71.05565683)"
26,I182070905,3006,Medical Assistance,SICK/INJURED/MEDICAL - PERSON,D4,172,NaN,9/3/2018 18:50,2018,9,Monday,18,Part Three,MASSACHUSETTS AVE,42.333112,-71.072764,"(42.33311189, -71.07276370)"
27,I182070904,802,Simple Assault,ASSAULT SIMPLE - BATTERY,C11,242,NaN,9/3/2018 18:34,2018,9,Monday,18,Part Two,ANNAPOLIS ST,42.317319,-71.061509,"(42.31731905, -71.06150882)"
28,I182070904,2007,Restraining Order Violations,VIOL. OF RESTRAINING ORDER W NO ARREST,C11,242,NaN,9/3/2018 18:34,2018,9,Monday,18,Part Two,ANNAPOLIS ST,42.317319,-71.061509,"(42.31731905, -71.06150882)"
29,I182070903,2900,Other,VAL - VIOLATION OF AUTO LAW - OTHER,B3,463,NaN,9/3/2018 18:55,2018,9,Monday,18,Part Two,BLUE HILL AVE,42.295904,-71.087733,"(42.29590385, -71.08773294)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319043,I110551302-00,3125,Warrant Arrests,WARRANT ARREST,D4,171,NaN,7/22/2015 22:00,2015,7,Wednesday,22,Part Three,HARRISON AVE,42.335560,-71.074364,"(42.33555954, -71.07436364)"
319044,I110551302-00,623,Larceny,LARCENY SHOPLIFTING $50 TO $199,D4,171,NaN,7/22/2015 22:00,2015,7,Wednesday,22,Part One,HARRISON AVE,42.335560,-71.074364,"(42.33555954, -71.07436364)"
319045,I110372326-00,403,Aggravated Assault,ASSAULT & BATTERY D/W - OTHER,A1,97,NaN,6/14/2016 9:40,2016,6,Tuesday,9,Part One,SCHOOL ST,42.357428,-71.058326,"(42.35742837, -71.05832551)"
319046,I110372326-00,3125,Warrant Arrests,WARRANT ARREST,A1,97,NaN,6/14/2016 9:40,2016,6,Tuesday,9,Part Three,SCHOOL ST,42.357428,-71.058326,"(42.35742837, -71.05832551)"
319047,I110261417-00,3125,Warrant Arrests,WARRANT ARREST,B2,324,NaN,7/29/2016 0:00,2016,7,Friday,0,Part Three,BOWDOIN ST,42.307038,-71.066153,"(42.30703835, -71.06615319)"
319048,I110261417-00,619,Larceny,LARCENY OTHER $200 & OVER,B2,324,NaN,7/29/2016 0:00,2016,7,Friday,0,Part One,BOWDOIN ST,42.307038,-71.066153,"(42.30703835, -71.06615319)"
319049,I110177502-00,3125,Warrant Arrests,WARRANT ARREST,B2,318,NaN,10/2/2015 21:00,2015,10,Friday,21,Part Three,HOMESTEAD ST,42.311277,-71.089093,"(42.31127726, -71.08909334)"
319050,I110177502-00,802,Simple Assault,ASSAULT & BATTERY,B2,318,NaN,10/2/2015 21:00,2015,10,Friday,21,Part Two,HOMESTEAD ST,42.311277,-71.089093,"(42.31127726, -71.08909334)"
319051,I110177502-00,3125,Warrant Arrests,WARRANT ARREST,B2,318,NaN,10/2/2015 21:00,2015,10,Friday,21,Part Three,HOMESTEAD ST,42.311277,-71.089093,"(42.31127726, -71.08909334)"
319052,I100636670-00,629,Larceny,LARCENY OTHER $50 TO $199,D4,285,NaN,6/5/2016 17:23,2016,6,Sunday,17,Part One,COVENTRY ST,42.336951,-71.085748,"(42.33695098, -71.08574813)"
319053,I100636670-00,3125,Warrant Arrests,WARRANT ARREST,D4,285,NaN,6/5/2016 17:23,2016,6,Sunday,17,Part Three,COVENTRY ST,42.336951,-71.085748,"(42.33695098, -71.08574813)"
319054,I100340225-00,3125,Warrant Arrests,WARRANT ARREST,A1,77,NaN,7/27/2015 10:47,2015,7,Monday,10,Part Three,BOWDOIN SQ,42.361645,-71.062299,"(42.36164502, -71.06229949)"
319055,I100340225-00,339,Robbery,ROBBERY - UNARMED - STREET,A1,77,NaN,7/27/2015 10:47,2015,7,Monday,10,Part One,BOWDOIN SQ,42.361645,-71.062299,"(42.36164502, -71.06229949)"
319056,I100222105-02,3125,Warrant Arrests,WARRANT ARREST,E13,572,NaN,8/3/2015 16:22,2015,8,Monday,16,Part Three,COLUMBUS AVE,42.313628,-71.095603,"(42.31362799, -71.09560307)"
319057,I100033064-00,2907,Violations,VAL - OPERATING AFTER REV/SUSP.,B2,304,NaN,7/29/2016 18:20,2016,7,Friday,18,Part Two,SLAYTON WAY,42.321770,-71.097798,"(42.32177032, -71.09779774)"
319058,I100033064-00,2910,Violations,VAL - OPERATING AFTER REV/SUSP.,B2,304,NaN,7/29/2016 18:20,2016,7,Friday,18,Part Two,SLAYTON WAY,42.321770,-71.097798,"(42.32177032, -71.09779774)"
319059,I090321958-00,3125,Warrant Arrests,WARRANT ARREST,C11,355,NaN,2/1/2016 1:43,2016,2,Monday,1,Part Three,GENEVA AVE,NaN,NaN,"(0.00000000, 0.00000000)"
319060,I090321958-00,3125,Warrant Arrests,WARRANT ARREST,C11,355,NaN,2/1/2016 1:43,2016,2,Monday,1,Part Three,GENEVA AVE,NaN,NaN,"(0.00000000, 0.00000000)"
319061,I090317057-00,403,Aggravated Assault,ASSAULT & BATTERY D/W - OTHER,B3,458,NaN,11/20/2015 11:15,2015,11,Friday,11,Part One,BLUE HILL AVE,42.301897,-71.085549,"(42.30189690, -71.08554944)"
319062,I090317057-00,3125,Warrant Arrests,WARRANT ARREST,B3,458,NaN,11/20/2015 11:15,2015,11,Friday,11,Part Three,BLUE HILL AVE,42.301897,-71.085549,"(42.30189690, -71.08554944)"
319063,I080542626-00,3125,Warrant Arrests,WARRANT ARREST,A1,111,NaN,8/12/2015 12:00,2015,8,Wednesday,12,Part Three,BOYLSTON ST,42.352312,-71.063705,"(42.35231190, -71.06370510)"
319064,I080542626-00,1848,Drug Violation,DRUGS - POSS CLASS B - INTENT TO MFR DIST DISP,A1,111,NaN,8/12/2015 12:00,2015,8,Wednesday,12,Part Two,BOYLSTON ST,42.352312,-71.063705,"(42.35231190, -71.06370510)"
319065,I080542626-00,1849,Drug Violation,"DRUGS - POSS CLASS B - COCAINE, ETC.",A1,111,NaN,8/12/2015 12:00,2015,8,Wednesday,12,Part Two,BOYLSTON ST,42.352312,-71.063705,"(42.35231190, -71.06370510)"
319066,I060168073-00,1864,Drug Violation,DRUGS - POSS CLASS D - INTENT MFR DIST DISP,E13,912,NaN,1/27/2018 14:01,2018,1,Saturday,14,Part Two,CENTRE ST,42.322838,-71.100967,"(42.32283759, -71.10096723)"
319067,I060168073-00,3125,Warrant Arrests,WARRANT ARREST,E13,912,NaN,1/27/2018 14:01,2018,1,Saturday,14,Part Three,CENTRE ST,42.322838,-71.100967,"(42.32283759, -71.10096723)"
319068,I050310906-00,3125,Warrant Arrests,WARRANT ARREST,D4,285,NaN,6/5/2016 17:25,2016,6,Sunday,17,Part Three,COVENTRY ST,42.336951,-71.085748,"(42.33695098, -71.08574813)"
319069,I030217815-08,111,Homicide,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",E18,520,NaN,7/9/2015 13:38,2015,7,Thursday,13,Part One,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)"
319070,I030217815-08,3125,Warrant Arrests,WARRANT ARREST,E18,520,NaN,7/9/2015 13:38,2015,7,Thursday,13,Part Three,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)"
319071,I010370257-00,3125,Warrant Arrests,WARRANT ARREST,E13,569,NaN,5/31/2016 19:35,2016,5,Tuesday,19,Part Three,NEW WASHINGTON ST,42.302333,-71.111565,"(42.30233307, -71.11156487)"
319072,142052550,3125,Warrant Arrests,WARRANT ARREST,D4,903,NaN,6/22/2015 0:12,2015,6,Monday,0,Part Three,WASHINGTON ST,42.333839,-71.080290,"(42.33383935, -71.08029038)"

In [100]:
cen_data.head(2)

,Unnamed: 0,Zip Code,District,White Pop,Afr Am Pop,Asian Pop,Native Am Pacific Pop,Other Pop,Multi Race Pop
0,0,02108,Boston,3563.0,223.0,204.0,0.0,0.0,165.0
1,1,02109,Boston,3419.0,157.0,343.0,0.0,0.0,68.0

In [115]:
dist_data_clean.head(2)

  District_Codes        District_Address      District
0            A-7         69 Paris Street   East Boston
1            B-2  2400 Washington Street       Roxbury

In [154]:
zip_data.head

<bound method NDFrame.head of                 District
Zip Code
02108             Boston
02109             Boston
02110             Boston
02111             Boston
02112             Boston
02113             Boston
02114             Boston
02115             Boston
02116             Boston
02117             Boston
02118            Roxbury
02119            Roxbury
02120            Roxbury
02121         Dorchester
02122         Dorchester
02123             Boston
02124         Dorchester
02125         Dorchester
02126           Mattapan
02127       South Boston
02128        East Boston
02129        Charlestown
02130      Jamaica Plain
02131        Roslindale
02132       West Roxbury
02133             Boston
02134            Allston
02135           Brighton
02136          Hyde Park
02137          Hyde Park>